.DraftBackground {
    background: url(Images/DraftBackground.png);
    background-size: 25%;
    background-repeat: repeat;
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DraftBanner {
    height: auto;
    width: 100%;
    margin-top: 7vh;
}

.DraftContainer {
    background: url(Images/Wrestleverse2K25Background.png);
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: repeat;
    width: 70%;
    min-height: 425vh;
    margin: 0 auto;
    box-shadow: 0 0 10vh rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SuperstarsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vh;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}

.SuperstarButton {
    background-color: #3276ff;
    color: white;
    font-size: 1vh;
    font-weight: bold;
    padding: 0.8vh 1vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.SuperstarButton:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.SuperstarButton:hover:not(:disabled) {
    background-color: #556aa6;
}

.Roster1Container {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5vh;
}

.RawRoster, .SmackdownRoster {
    width: 45%;
    background: rgba(0, 0, 0, 0.372);
    color: white;
    text-align: center;
    font-size: 1vh;
}

h2 {
    font-size: 3vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    font-family: Impact;
    -webkit-text-stroke: 0.03vh rgb(0, 0, 0); /* Thinner white text border */
}

ul {
    list-style-type: none;
    padding: 0;
}

.li1 {
    font-size: 2vh;
    margin: 0.5vh 0;
}

.ButtonContainer {
    display: flex;
    gap: 2vh;
    margin-top: 2vh;
}

.ExportButton, .ResetButton, .RandomDraftAllButton {
    background-color: #0057c9;
    color: white;
    font-size: 1.22vh;
    padding: 0.8vh 1vh;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ExportButton:hover, .ResetButton:hover, .RandomDraftAllButton:hover {
    background-color: #002e73;
}
