.NewsBackground{
    background: url(Images/Wrestleverse2K25BackgroundOS.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.NBanner{
    height: auto;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 1vh;
}

.NewsContainer{
    background: url(Images/Wrestleverse2K25Background.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    width: 70%;
    min-height: 100vh; /* Ensures the container takes at least 100% of the viewport height */
    height: auto; /* Allows the container to expand with content */
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; /* Enables scroll for the content */
    max-height: calc(100vh - 8vh); /* Keeps it within the available height minus the header space */
    padding-bottom: 20px; /* Adds some space at the bottom for better scroll behavior */
    box-shadow: 0 0 10vh rgb(0, 0, 0);
}

.NewsContainer::-webkit-scrollbar {
    display: none; /* Hides scrollbar for a cleaner look */
}

.NewsImage {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: block;
    box-shadow: 0 0 10vh rgb(0, 0, 0);
}

.NewsTitle{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 2vh;
    font-size: 3.5vh;
    font-family: 'Impact';
}

.NewsDescript1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.NewsDescript2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.NewsDescript3{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.NewsList li{
    color: rgb(255, 255, 255);
    text-align: Left;
    margin-left: 20vw;
    font-size: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.NewsDivider {
    border: 0;
    height: 2px;
    background: white;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  